.LoginForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LoginForm-errors{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
}